/* Padding for the side nav */
header, body, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, body, footer {
        padding-left: 0;
    }
}

/* Fixes search in nav */
input[type="search"] {
    height: 64px !important; /* or height of nav */
}

/* Container */
#mycontainer {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

td a {
    display: block;
    width: 100%;
}

.fancy {
    display: inline-block !important;
    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
}

.fancy:hover {
    opacity: 1;

    -moz-transform: scale(2) rotate(400deg) translate(10px);

    -webkit-transform: scale(1.2) rotate(400deg) translate(10px);

    -o-transform: scale(2) rotate(400deg) translate(10px);

    transform: scale(2) rotate(400deg) translate(10px);

    z-index: 1000;
}